<div class="listpage">
	<div class="titlepage">
		<div class="row">
			<div class="col-12">
				<h4>List of</h4>
				<h4>Bookings</h4>
			</div>
		</div>
	</div>
	<div class="listrows"> 
		<div class="Bookingrowblue">
			<div class="row">
				<div class="col-2 borderright paddingcarcol">
					<img src="./assets/images/1.png" class="carimg">
				</div>
				<div class="col-1 align-center paddingarrow">
					<img src="./assets/images/white arrow.svg" class="arrowwhite">
				</div>
				<div class="col-2 borderright paddingcar">
					<h5><strong>Toyota 2017</strong></h5>
					<p>Corolla L CVT</p>
				</div>
				<div class="col-2 paddingarrow">
					<img src="./assets/images/bossbaby.jpg" class="idimg">
				</div>
				<div class="col-3 borderright paddingarrow paddingleft linehight">
					<h5><strong>Mohamed El-Sawi</strong></h5>
					<p>ID: 123456974664367</p>
					<p>Booking Reference: 1735</p>
				</div>
				<div class="col-2 paddingarrow linehight paddingpricecol">
					<p class="colorwhite font12 paddingprice">Price for 7 days</p>
					<h5><strong>1000</strong><span class="font12"> SAR</span></h5>
					<button class="buttonbook" data-toggle="modal" data-target="#myModal" >View Details</button>
				</div>

			</div>
		</div>
		<div class="Bookingrowwhite">
			<div class="row">
				<div class="col-2 borderright paddingcarcol">
					<img src="./assets/images/1.png" class="carimg">
				</div>
				<div class="col-1 align-center paddingarrow">
					<img src="./assets/images/yellow arrow.svg" class="arrowwhite">
				</div>
				<div class="col-2 borderright paddingcar">
					<h5><strong>Toyota 2017</strong></h5>
					<p>Corolla L CVT</p>
				</div>
				<div class="col-2 paddingarrow">
					<img src="./assets/images/bossbaby.jpg" class="idimg">
				</div>
				<div class="col-3 borderright paddingarrow paddingleft linehight">
					<h5><strong>Mohamed El-Sawi</strong></h5>
					<p>ID: 123456974664367</p>
					<p>Booking Reference: 1735</p>
				</div>
				<div class="col-2 paddingarrow linehight paddingpricecol">
					<p class="colorgrey font12 paddingprice">Price for 7 days</p>
					<h5><strong>1000</strong><span class="font12"> SAR</span></h5>
					<button class="buttonbook" data-toggle="modal" data-target="#myModal" >View Details</button>
				</div>

			</div>
		</div>
	</div>
	
	
</div>



<div class="listpageresp">
	<div class="titlepagerep-en align-start">
		<h4>List of</h4>
		<h4>Bookings</h4>
	</div>
	<div class="listrows">

        <div>


			<div  class="Bookingrowblue align-start">
				<div class="row">
					<div class="col-6">

						<img src="./assets/images/1.png" class="carimg-en">
						<br>
						<div class="row">
							<div class="col-3">
								<img src="./assets/images/white arrow.svg" class="arrowwhite-en">
							</div>
							<div class="col-9">
								<h5><strong>Toyota 2017</strong></h5>
								<h6>Corolla L CVT</h6>
								
							</div>
						</div>


					</div>
					<div class="col-6 ">
						<div class="pickupmargin">
							<img src="./assets/images/bossbaby.jpg" class="idimg">
							<br>
							<h5><strong>Mohamed El-Sawi</strong></h5>
							<p>ID: 123456974664367</p>
							<p>Booking Reference: 1735</p>
						</div>
						<br>
						<div >
							<p class="colorwhite font12 paddingprice">Price for 7 days</p>
							<h5><strong>1000</strong><span class="font12"> SAR</span></h5>
							<button class="buttonbook" data-toggle="modal"  data-target="#myModal">View Details</button>
						</div>

					</div>

				</div>
			</div>


			<div  class="Bookingrowwhite align-start">
				<div class="row">
					<div class="col-6">

						<img src="./assets/images/1.png" class="carimg-en">
						<br>

						<div class="row">
							<div class="col-3">
								<img src="./assets/images/yellow arrow.svg" class="arrowwhite-en">
							</div>
							<div class="col-9">
								<h5><strong>Toyota 2017</strong></h5>
								<h6>Corolla L CVT</h6>
								
							</div>
						</div>
						


					</div>
					<div class="col-6">
						<div class="pickupmargin">
							<img src="./assets/images/bossbaby.jpg" class="idimg">
							<br>
							<h5><strong>Mohamed El-Sawi</strong></h5>
							<p>ID: 123456974664367</p>
							<p>Booking Reference: 1735</p>
						</div>
						<br>
						<div>
							<p class="colorgrey font12 paddingprice">Price for 7 days</p>
							<h5><strong>1000</strong><span class="font12"> SAR</span></h5>
							<button class="buttonbook" data-toggle="modal" data-target="#myModal" >View Details</button>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<app-popupdetails></app-popupdetails>