.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.align-center{
	text-align: center;
}
.listpage{
	
    width: 100%;
   
    height:auto;
}
.titlepage{
	color: #272a67;
	padding: 40px 0 25px 100px;

}
.listrows{
	font-size: 16px;

}
.Bookingrowblue{
	background-color: #a7bcd6;
	padding: 28px 0 28px 100px;
	line-height: 1;
	color: #272a67;
}
.carimg{
	width: 80%;
}
.borderright{
   border-right: 1px solid #272a67;
}
.arrowwhite{
	width: 68%;
    margin-left: 55%;
}
.paddingarrow{
	padding-top: 14px;
}
.paddingcar{
	padding-top: 22px;
	padding-left: 3%;
}
.idimg{
	width: 50%;
    border-radius: 9px;
    height: 83%;
    margin-left: 42%;
}
.linehight{
	line-height: 0.5;
}
.colorgrey{
	color: #7c878e;

}
.colorwhite{
	color: #fff;
}
.font12{
	font-size: 12px;
} 
.paddingprice{
	margin-bottom: 0.5rem;
}
.buttonbook{
    min-width: fit-content;
    padding: 9px 5px;
    width: 28%;
    margin-top: -1%;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    background-color: #f7de02;
    color: #272a67;
}
.buttonbook:focus{
    outline: none;
}
.paddingpricecol{
	padding-left: 4%;
}
.paddingcarcol{
    padding-top: 8px;
}

.Bookingrowwhite{
	background-color: #fff;
	padding: 28px 0 28px 100px;
	line-height: 1;
	color: #272a67;
}



.listpageresp {
    display: none;
    width: 0;
    height: 0;
}

@media screen and (max-width: 1235px) {
	.carimg{
	    width: 85%;
	}

}
@media screen and (max-width: 1100px) {
	.carimg{
	    width: 88%;
	}
	.Bookingrowblue {
    
	    padding: 28px 0 28px 80px;
	   
	}
	.Bookingrowwhite {
    
	    padding: 28px 0 28px 80px;
	   
	}
	.titlepage {
	    padding: 40px 0 25px 94px;
	}

}

@media screen and (max-width: 1024px) {
	.idimg {
	    width: 60%;
	    border-radius: 9px;
	    height: 85%;
	    margin-left: 36%;
	}
	.arrowwhite {
	    width: 90%;
	    margin-left: 43%;
	}
	.paddingcar {
	    padding-top: 17px;
	}
	.paddingarrow {
	    padding-top: 11px;
	}
	.listrows{
		font-size: 14px;

	}
	.listrows h5{
		font-size: 18px;

    }

}

@media screen and (max-width: 880px) {
	.buttonbook{
		font-size: 12px;
	}
	.listrows{
		font-size: 13px;

	}
	.Bookingrowblue {
	    padding: 28px 18px 28px 70px;
	}
	.Bookingrowwhite {
    
	    padding: 28px 18px 28px 70px;
	   
	}
	.listrows h5{
		font-size: 16px;

    }
    .arrowwhite{
	    width: 95%;
	    margin-left: 25%;
	}
	.paddingcar {
	    
	    padding-left: 1%;
	}
}

@media screen and (max-width: 850px) {
	.linehight {
	    line-height: 1;
	}
	.buttonbook{
		font-size: 11px;
	}
	.font12{
		font-size: 10px;
	} 

}



@media screen and (max-width: 761px) {
	.idimg {
	    width: 77%;
	    border-radius: 9px;
	    height: 80%;
	    margin-left: 9%;
	}
	.carimg {
	    width: 100%;
	}
	.arrowwhite {
	    width: 145%;
	    margin-left: -5%;
	}
	.buttonbook {
	    font-size: 11px;
	}
	.paddingpricecol{
	    padding-left: 2%;
	}
	.paddingleft{
		padding-left: 0;
		line-height: 0.5;
	}
	.listrows{
		font-size: 12px;

	}
	.font12{
		font-size: 9px;
	} 
}


@media screen and (max-width: 687px) {
	.listpage {
	    margin-top: 50px;
	}
	.titlepage {
	    padding: 40px 0 25px 32px;
	}

	.Bookingrowblue {
	    padding: 25px 18px 23px 22px;
	}
	.Bookingrowwhite {
	    padding: 25px 18px 23px 22px;
	}
	.paddingcar{
	    padding-left: 1%;
	    padding-right: 1%;
	}
	.paddingleft {
	    padding-right: 1%;
	}
}


@media screen and (max-width: 686px) {
	.listpage {
	    display: none;
	    width: 0;
	    height: 0;
	}
	


	.listpageresp {
		display: block;
		position: absolute;
    	width: 100%;
    	height:auto;
	    margin-top: 100px;
	}
	.titlepagerep-en{
		color: #272a67;
		padding: 24px 14px 24px 26px;
	}
	.titlepagerep-ar{
		color: #272a67;
		padding: 24px 26px 24px 14px;
	}
	.titlepagerep-en h3{
		font-weight: 400;
	}
	.titlepagerep-en strong{
		font-weight: 900;
	}
	.titlepagerep-ar strong{
		font-weight: 900;
	}
	.backyellow {
	    font-size: 12px;
	    margin: -14px -22px 20px -22px;
	}
	.arrowwhite-en{
	    width: 90%;
	    margin-left: 18px;
	    margin-top: -3px;
	}
	.arrowwhite-ar{
	    width: 90%;
	    margin-right:  18px;
	    margin-top: -3px;
	}
	.carimg-en {
	    width: 81%;
	    margin-bottom: 11px;
	}
	.carimg-ar {
	    width: 81%;
	    margin-bottom: 11px;
	}
	.listrows h5 {
	    font-size: 18px;
	}
	.listrows strong {
	    font-weight: 900;
	}
	.font12 {
	    font-size: 12px;
	    margin-bottom: 4px;
	}
	.emailmargin {
	    margin: 14px 0 7px 0;
	    text-align: start;
	}
	.hrbluelight{
        border-color: #272a673d;
	}
	.pickupmargin p{
		margin-bottom: 3px;
	}
	.hrbluedark{
		border-color: #272a67;
	}
	.backyellow p{
		margin-bottom: 2px;
	}
	.avdoors {
	    width: 18px;
	}
	.emailmargin {
	    font-size: 11px;
	}
	.unavailablecar{
		width: 100%;
	}
	.post .avatar {
		width: 95%;
	}
	.idimg {
	    width: 93%;
	    border-radius: 9px;
	    height: 80%;
	    margin-left: 0%;
	    margin-bottom: 6px;
	}
}

@media screen and (max-width: 460px) {
	.arrowwhite-en{
	    width: 132%;
	    margin-left: 7px;
	    margin-top: 1px;
	}
	.listrows h5 {
	    font-size: 16px;
	}
	.listrows h6{
	    font-size: 13px;
	}
	.listpageresp {
	    margin-top: 92px;
	}
}

@media screen and (max-width: 322px) {
	.arrowwhite-en{
	    width: 270%;
    	margin-left: 4px;
    	margin-top: 1px;
	}
	.listrows h5 {
	    font-size: 13px;
	}
	.listrows h6{
	    font-size: 11px;
	}
	.listrows p{
	    font-size: 9px;
	}
}