<div class="container">
  <!-- <h2>Modal Example</h2>
   Trigger the modal with a button 
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa fa-times" data-dismiss="modal" aria-hidden="true"></i>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <!-- <h4 class="modal-title">Modal Header</h4> -->
          <!-- <div class="modal-title">
            <img src="./assets/images/logo.svg" class="">
          </div> -->
          <img src="./assets/images/logopopup.svg" class="logoimg">
        </div>
        <div class="modal-body">
          <div class="bookdetails">
            <div class="row">
              <div class="col-5">
                <img src="./assets/images/bossbaby.jpg" class="coustumerimg">
              </div>
              <div class="col-7">
                <p class="colordarkblue"><b class="colorwhite">Customer Name:</b> Ahmed Hassan</p>
                <p class="colordarkblue"><b class="colorwhite">Customer ID:</b> 14236547896541</p>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <h5><b>Car</b> Details</h5>
                <hr class="hryellow">
                <p class="coloryellow"><b class="colordarkblue">Booking Reference:</b> 17354</p>
                <p class="colorwhite margin">Price for 7 days</p>
                <span class="coloryellow"><b class="pricefont">1000</b> SAR </span>
               

              </div>
              <div class="col-2">
                
              </div>
              <div class="col-5">
                <img src="./assets/images/1.png" class="carimgs">
                 <div class="row">
                  <div class="col-3">
                    <img src="./assets/images/white arrow.svg" class="arrow">
                  </div>
                  <div class="col-9">
                    <h6><strong>Toyota 2017</strong></h6>
                    <p>Corolla L CVT</p>
                  </div>
                  
                </div>
              </div>
            </div>
            <hr class="hrwhite">
            <div class="row">
              <div class="col-5">
                <p class="margin"><b>Pick-Up Location </b></p>
                <p>JED-KAUST Al-Tamimi Test</p>
                
                <p class="margin"><b>Pick-Up Time </b></p>
                <p>26-02-2019 14:50</p>
              </div>
              <div class="col-2">
                
              </div>
              <div class="col-5">
                <p class="margin"><b>Drop-Off Location </b></p>
                <p>JED-KAUST Al-Tamimi Test</p>
                
                <p class="margin"><b>Drop-Off Time </b></p>
                <p>26-02-2019 | 14:50</p>
              </div>
              
            </div>


          </div>
        </div>
        <div class="modal-footer ">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          <div class="row m">
            <div class="col-12">
              <h5><b>ID</b> Authorization</h5>
              <hr class="hryellow">
            </div>
            
          </div>
          <div class="row">
            <div class="col-6">
              
              <p><b>ID Type:</b> Passport</p>
              <p><b>ID Version:</b> 6459</p>
              <p><b>License ID:</b> 34556459</p>
              <p><b>Mobile Number:</b> 090044546459</p>
            </div>
            <div class="col-6">
              <p><b>ID Number:</b> Passport</p>
              <p><b>ID Expiry:</b> 12/06/2020</p>
              <p><b>License ID Expiry:</b> 34556459</p>
              <p><b>Nationality:</b> Saudi Arabia</p>
            </div>
            
          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <h5><b>Customer</b> ID</h5>
              <hr class="hryellow">
              <img src="./assets/images/bossbaby.jpg" class="visaimg">
            </div>
            <div class="col-6">
              <h5><b>Driving</b> License</h5>
              <hr class="hryellow">
              <img src="./assets/images/bossbaby.jpg" class="visaimg">
            </div>
            
          </div>
          <div class="row">
            <div class="col-6">
              <h5><b>Customer</b> Visa</h5>
              <hr class="hryellow">
              <img src="./assets/images/bossbaby.jpg" class="visaimg">
            </div>
            <div class="col-6">
              <h5><b>Company</b> ID</h5>
              <hr class="hryellow">
              <img src="./assets/images/bossbaby.jpg" class="visaimg">
            </div>
            
          </div>
          
          <div class="row">
            <div class="col-2">
              
            </div>
            <div class="col-4">
              <button class="buttonbook" >Accept</button>
            </div>
            <div class="col-4">
              <button class="buttonbook" >Reject</button>
            </div>
            <div class="col-2">
              
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>
  
</div>