.modal-header{
	border-bottom: none;
}
.logoimg{
    width: 102px;
}
.modal-body{
	background-color: #a7bcd6;
	color: #272a67;
	font-size: 13px;
	box-shadow: 0px 7px 7px 0px #080d2abf;
}
.modal-content {
	border-radius: 0;
}

.colorwhite{
	color: #fff;

}
.colordarkblue{
	color: #272a67;
}
.colorlightblue{
	color: #a7bcd6;
}
.coloryellow{
	color: #f7de02;
}
.coustumerimg{
	width: 80%;
    height: 105px;
    border-radius: 14px;
    margin-bottom: 16px;
}
.hryellow{
    border-top: 2px solid #f7de02;
    width: 16px;
    margin-left: 0;
}
.pricefont{
    font-size: 29px;
}
.margin{
	margin-bottom: 0px;
}
.carimgs{
	width: 85%;
	margin-bottom: 8px;
}
.arrow{
    width: 170%;
}
.hrwhite{
	border-top: 1px solid #fff;
}

.modal-footer{
	background-color: #272a67;
    color: #fff;
    font-size: 13px;
    /* justify-content: start; */
    display: block;
}

.visaimg{
	width: 80%;
    height: 105px;
    
    margin-bottom: 20px;
}
.m{
	margin-left: .25rem;
}
.buttonbook{
    min-width: fit-content;
    padding: 6px 5px;
    width: 76%;
    margin-top: 1%;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    background-color: #f7de02;
    color: #272a67;
}
.buttonbook:focus{
    outline: none;
}