<header class="bg">

	<div class="logbox ">
		<div class="row">
			<div class="col-12">
				<h2><strong>log in.</strong></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<img src="./assets/images/arrows.png" class="arrowsimg">
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<mat-form-field class="">
				    <input matInput placeholder="Username"  name = "email" required>
				</mat-form-field>
				<mat-form-field [ngStyle]="{display: resetPassword}" class="">
					<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" name = "password"required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
				</mat-form-field >

			</div>
		</div>
		<div class="row">
			<div class="col-12 loginbutton">
				<button mat-button  >LOG IN </button>
			</div>
		</div>
	</div>
</header>

