.bg{
  background-image: url('/assets/images/bg.jpg');
  width:100%;
  height:100%;
  margin-top: -1px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
 
}
.logbox{
  border-style: solid;
  border-width: 3px;
  top: 178px;
  left: 39%;
  position: absolute;
  border-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.79);
  font-family: 'Maven Pro', sans-serif;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 35px 25px 16px 25px;
  color: #272a67;
  width: 385px;
  line-height: 5;
}
.arrowsimg{ width: 100%; }

.loginbutton{
 width: 100%;
}
.loginbutton::ng-deep.mat-button{
 background-color: #f7de02 !important;
   color: #272a67;
   font-weight: 900;
   font-size: 16px;
   width: 100%;
   border-radius: 0;
}
.logbox::ng-deep.mat-form-field{
  width: 100%;
}
.logbox::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label{
  color: #272a67;
}
.logbox::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline{
 background-color: #272a67;
}

.logbox::ng-deep.mat-form-field-ripple{
background-color: #272a67;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid green;
    -webkit-text-fill-color: #272a67;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* responsive */
@media screen and (max-width: 1260px) {

  .logbox{
    left: 36%;
  }

}
@media screen and (max-width: 1024px) {

  .logbox{
    left: 34%;
  }

}
@media screen and (max-width: 930px) {

  .logbox{
    left: 30%;
  }

}

@media screen and (max-width: 786px) {
	.logbox{
    left: 27%;
  }

}

@media screen and (max-width: 686px) {
	
  .bg{
  	height: 100%;
    overflow: hidden;

  }
  .logbox {
    left: 3%;
    width: 94%;
    top: 118px;
    height: 80%;
  }


}



@media screen and (max-width: 375px) {



}


@media screen and (max-width: 360px) {
  .logbox {
    left: 3%;
    width: 94%;
    top: 89px;
    height: 78%;
  }

}



@media screen and (max-width: 320px) {

.bg{
    height: 102%;
}



}










