.backgroundlightblue{
    background-color: #969ecf;
}
.margintop{
    margin-top: 5px;
}
.imgsidenav{
    position: absolute;
    bottom: 0;
    width: 77%;
    padding: 0 0px 0 27%;
}
.local{
  left: 50px;
  border-right: 1px solid #272a67;
}


.sidenav {
    display: none;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1004;
    top: 0;

    color: #272a67;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0px;

    box-shadow: 2px 0px #a7bcd6;
}
.langimg{
    width: 16px
}
.local a {
    padding: 16px 8px 8px 32px;
    text-decoration: none;
    font-family:'Maven Pro',sans-serif;
    font-weight:500;
    font-size: 16px;

    color: #272a67;
    display: block;
}

.local a:hover {
    color: #f1f1f1;
    background-color: #969ecf;
}

.sidenav:open{
    color: #f1f1f1;
    background-color: #969ecf;
}


.local a p{
    font-size: 12px;
}


.tab{
    float: left;
    margin-top: -0.1%;
   position: fixed;
    background-color: #f7de02;
    width: 50px;
    height: 100%;
    left:0;
}

.bar{
  font-size: 30px;
    cursor: pointer;
    padding-left: 9px;
    color: #272a67;
}


.smart{
    position: fixed;
 font-family: 'Maven Pro', sans-serif;
 width: 233px;
 height: 214px;
 bottom: 3%;
 z-index: 0;
 /* -webkit-transform: rotate(90deg); */
 transform: rotate(270deg);
 margin-top: 28%;
 color: #272a67;
}
.r{
    display: none;
}






.right{
    position: absolute;
    float: right;
    width: 127px;
    margin-top: 1px;
    height: auto;
    /* margin-right: 14px; */
    right: 25%;
}




/* responsive */
@media screen and (max-width: 1351px) {


  .smart{
    margin-top: 20%;
  }

}
@media screen and (max-width: 1258px) {


  .smart{
    margin-top: 22%;
  }

}
@media screen and (max-width: 1160px) {


  .smart{
    margin-top: 23%;
  }

}


@media screen and (max-width: 1070px) {


  .smart{
    margin-top: 26%;
  }

}

@media screen and (max-width: 900px) {


  .smart{
    margin-top: 26%;
  }

}
@media screen and (max-width: 886px) {
    .right{
        width: 110px;

    }
}

@media screen and (max-width: 786px) {

  .smart{
    margin-top: 35%;
  }




}

@media screen and (max-width: 686px) {

    .tab
    {
        width: 100%;
        height: 80px;
        margin-top: -1px;
               z-index: 995;
        background-color: #ffffff;
        position: fixed;
    }
    .smart{
        display: none;

    }
    .bars{
        padding-top: 28px;
        padding-left: 6px;
    }
    .sidenav{
        display: none;
        height: auto;
        width: 100%;
        position: fixed;
        top: 11%;
        left: 0px;
        background-color: white;
        overflow-x: hidden;
        padding-top: 40px;
        border-right: 1px solid #272a67;
        box-shadow: 2px 0px #a7bcd6;
            z-index: 3;
    }
    .r {


        position: fixed;
        margin-top: -13%;
        display: block;
        width: 22%;
        left: 64%;

    }
    .local a {
            padding: 10px 10px 10px 36px;
        font-size: 13px;
    }
    .imgsidenav{
        display: none;
    }

    .right{
        display: none;


    }
}
@media screen and (max-width: 480px) {
    .sidenav{
        top: 9%;

    }

}

@media screen and (max-width: 420px) {
    .sidenav{
        top: 9%

    }
    .r {
        position: fixed;
        margin-top: -16%;
        display: block;
        width: 26%;
        left: 64%;
    }
    .tab {
       
        padding-top: 8px;
       
    }

}

@media screen and (max-width: 375px) {

   .sidenav{
        top: 9%

    }

}


@media screen and (max-width: 360px) {
   .sidenav{
        top: 11%

    }

}



@media screen and (max-width: 320px) {
    .sidenav{
        top: 13%

    }
    .right{
        position: absolute;
        width: 98px;
        z-index: 1;
        margin-top: 0px;
        left: -109%;

    }



}





