<div class="tab " >

  <span class="bar" (click)="showHide()"><i class="fa fa-bars fa-sm bars" aria-hidden="true"></i></span>

  <img src="./assets/images/logo.svg" class="r">



</div>

<div id="mySidenav" class="sidenav local" >
  <a  class="backgroundlightblue"><h5><strong>Ahmed Mohamed</strong></h5>
    <p> mohamed@gmail.com</p>
  </a>
  <a class="margintop" routerLink="/list of booking" ><i class="fa fa-list fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; List of Booking</a>
   <a ><i class="fa fa-sign-out fa-xs" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Logout</a>


  <img src="./assets/images/logo.svg" class="imgsidenav" >

</div>
 <p class="smart"><strong>Smart </strong> Transportation Solutions</p>



<div class="row ">
  <div class=" col-10 "></div>
  <div class=" col-2 " >

    <img src="./assets/images/logo.svg" class="right">

  </div>
</div>

<router-outlet></router-outlet>

