/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html , body{height: 100% ; margin:0; overflow-x: hidden;}



html, body { height: 100%; }
body { 
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
}
.mat-form-field ,.mat-stepper-vertical, .mat-stepper-horizontal,.mat-button {
    font-family: inherit;

}
.mat-option{
  font-family: inherit;
}
.mat-select{
  font-family: inherit;
}
.mat-radio-button {
    font-family: inherit;
}